@page "/people"

<h3>PeopleEntry</h3>

<EditForm Model="model" OnValidSubmit="ValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="model.FirstName" placeholder="First Name" class="form-control" />
    <InputText @bind-Value="model.LastName" placeholder="Last Name" class="form-control"/>

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

<h3>List of People</h3>
<ul>
    @foreach (var person in people)
    {
        <li>@person.FirstName @person.LastName</li>
    }
</ul>

@code {
    private PersonModel model = new();
    private List<PersonModel> people = new();

    private void ValidSubmit()
    {
        people.Add(model);
        model = new();
    }

}
